.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.main-box {
  height: 400px;
  width: 300px;
  background-color: rgb(22, 16, 16);

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 20px;
  padding: 30px;
  overflow-y: auto;

  border: 2px solid rgb(110, 84, 84);
  box-shadow: 5px 5px 10px rgb(124, 123, 123);
}

.box {
  background-color: rgb(31, 20, 0);
  width: 200px;
  text-align: center;
  color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px rgb(124, 123, 123);
  border: 2px solid rgb(110, 84, 84);
  font-family: sans-serif;
  cursor: pointer;
  transition: 1s;
}

.box:hover {
  background-color: #3b3e41;
}


.main-box h1 {
  color: white;
  margin: 0 0 20px;
  font-family: cursive;
}

.create-list {
  height: 50px;
  width: 300px;
  border-radius: 20px;
  background-color: rgb(22, 16, 16);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(110, 84, 84);
  gap: 10px;
}

.add-item {
  height: 50px;
  width: 500px;
  border-radius: 20px;
  background-color: rgb(22, 16, 16);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(110, 84, 84);
}


body {
  background-color: rgb(73, 63, 63);
}
